pip
langchain-google-genai
google-generativeai 
streamlit
langchain
langchain_community
matplotlib
openai
tiktoken
chromadb
chardet
google-search-results==2.4.2
serpapi==0.1.5
requests
beautifulsoup4
tempfile
re
