pip==24.2
langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.5
google-generativeai 
streamlit
langchain
langchain_community
matplotlib
openai
tiktoken
chromadb
chardet
google-search-results==2.4.2
googleapis-common-protos==1.66.0
serpapi==0.1.5
requests
beautifulsoup4
